@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


#profileImg {
  transform: rotateZ(45deg);
}

/* 
@media only screen and (min-width:391px) and (max-width:421px){
  .flip-card1{
    margin-top: 5px; 
  }
} */

/* @media (max-width:390px){
  .flip-card1{
    margin-top: 1px;
  }
} */

@media (max-width: 500px) {
  #profileImg {
    transform: rotateZ(35deg);
  }
}


.flip-card {
    perspective: 1000px;
    width: 100%;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 360px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  

  